<div class="modal fade" [id]="modalId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="accordionUpdate" [formGroup]="planningUpdateForm">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingUpdateEjeUnidad">
                            <button class="accordion-button collapsed fw-semibold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseUpdateEjeUnidad"
                                aria-expanded="false" aria-controls="collapseUpdateEjeUnidad">
                                Eje/Objetivo
                            </button>
                        </h2>
                        <div id="collapseUpdateEjeUnidad" class="accordion-collapse collapse"
                            aria-labelledby="headingUpdateEjeUnidad" data-bs-parent="#accordionUpdate">
                            <div class="accordion-body">

                                <div class="mb-3">

                                    <input class="form-control" list="datalistEditAxis"
                                        formControlName="select_edit_axi"
                                        [ngClass]="(select_edit_axi?.touched || select_edit_axi?.dirty) && select_edit_axi?.hasError('required') ? 'is-invalid' : '' || 
                                    ((select_edit_axi?.touched || select_edit_axi?.dirty) && !select_edit_axi?.invalid) ? 'is-valid' : ''"
                                        placeholder="Buscar la Eje">
                                    <datalist id="datalistEditAxis">
                                        <option *ngFor="let select_edit_axi of select_edit_axis"
                                            [value]="select_edit_axi.name" [id]="select_edit_axi.id">
                                    </datalist>

                                    <div class="invalid-feedback">
                                        {{ select_edit_axi?.hasError('required') ? 'El eje es requerida' : '' }}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row container-scroll"
                                        [ngClass]="{'scroll': list_edit_objectives.length > 10}"
                                        (scroll)="onScroll($event)">
                                        <div class="col-2">
                                            <div class="form-check" formArrayName="objective_edit_axi"
                                                *ngFor="let select_edit_objective of objective_edit_axi.controls; let i = index">
                                                <input class="form-check-input" type="checkbox" [formControlName]="i"
                                                    [id]="list_edit_objectives[i].id" (click)="checkBox($event)">
                                                <label class="form-check-label" [for]="list_edit_objectives[i].id"
                                                    (mouseover)="previewObjective(list_edit_objectives[i].name)">
                                                    {{ list_edit_objectives[i].oa }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col w-100 text-preview" #stickyElement>
                                            <div class="shadow-none p-3 bg-light rounded">{{ text_objective }}</div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary"
                                    (click)="updatePlanningAxiObjective({id: checkboxs, axi: planningUpdateForm.value.select_edit_axi})"
                                    [disabled]="disabledButtonUpdate([planningUpdateForm.value.select_edit_axi])"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-plus">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg> Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>