<div class="py-3">
    <figure>
        <blockquote class="blockquote">
            <h1>Planificador</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            Rellena los campos para generar una planificación.
        </figcaption>
    </figure>

    <!-- Form -->
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form [formGroup]="formPlanner">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label fw-semibold" for="subject">Asignatura</label>
                        <select class="form-select" formControlName="select_subject_planner" (change)="searchCourse($event)">
                            <option value="">Seleccione la asignatura</option>
                            <option *ngFor="let subject of list_subjects_planner" [value]="subject.name">{{ subject.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label fw-semibold" for="course">Curso</label>
                        <select class="form-select" formControlName="select_course_planner">
                            <option value="">Seleccione el curso</option>
                            <option *ngFor="let course of list_courses_planner" [value]="course.name">{{ course.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <label class="form-label fw-semibold" for="letter">Letra</label>
                    <input type="text" class="form-control" placeholder="Letra" aria-label="letter"
                        aria-describedby="letter" formControlName="letter">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label fw-semibold" for="unit">Unidad</label>
                        <select class="form-select" formControlName="select_unit_planner" (change)="searchSkillAttitude($event)">
                            <option value="">Seleccione la unidad</option>
                            <option *ngFor="let unit of list_units_planner" [value]="unit.id">{{ unit.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="shadow-none p-3 mb-3 bg-light rounded">
                        <label class="form-label fw-semibold" for="axis">Ejes</label>
                        <div class="form-check" *ngFor="let axi of list_axis_planner">
                            <input class="form-check-input" type="checkbox" formControlName="select_axi_planner" [id]="axi.id" (click)="checkAxi($event)">
                            <label class="form-check-label" [for]="axi.id">{{ axi.name }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label fw-semibold" for="weekly_hours">N° Horas Semanales</label>
                    <input type="text" class="form-control" placeholder="N° Horas Semanales" aria-label="weekly_hours"
                        aria-describedby="weekly_hours" formControlName="weekly_hours">
                </div>
                <div class="col mb-3">
                    <label class="form-label fw-semibold" for="teacher">Docente</label>
                    <input type="text" class="form-control" placeholder="Docente" aria-label="teacher"
                        aria-describedby="teacher" formControlName="teacher">
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <label class="form-label fw-semibold" for="concepts">Conceptos</label>
                    <input type="text" class="form-control" placeholder="Conceptos" aria-label="concepts"
                        aria-describedby="concepts" formControlName="concepts">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="shadow-none p-3 mb-3 bg-light rounded">
                        <label class="form-label fw-semibold" for="skills">Habilidades</label>
                        <div class="form-check" *ngFor="let skill of list_skills_planner">
                            <input class="form-check-input" type="checkbox" formControlName="select_skill_planner" [id]="skill.id">
                            <label class="form-check-label" [for]="skill.id">OAH{{ skill.oa }} - {{ skill.name }}</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="shadow-none p-3 mb-3 bg-light rounded">
                        <label class="form-label fw-semibold" for="axis">Actitudes</label>
                        <div class="form-check" *ngFor="let attitude of list_attitudes_planner">
                            <input class="form-check-input" type="checkbox" formControlName="select_attitude_planner" [id]="attitude.id">
                            <label class="form-check-label" [for]="attitude.id">OAA{{ attitude.oa }} - {{ attitude.name }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Table -->
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <div class="col-3 mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="N° Semanas" aria-label="N° Semanas"
                        aria-describedby="number_weeks">
                    <button class="btn btn-primary" type="button" id="number_weeks"><svg
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>Agregar</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">N° SEMANAS</th>
                            <th scope="col">FECHAS</th>
                            <th scope="col">OBJETIVO DE APRENDIZAJE</th>
                            <th scope="col">ACTIVIDAD DE LA ENSEÑANZA</th>
                            <th scope="col">RECURSOS DIDÁCTICOS</th>
                            <th scope="col">INDICADORES DE EVALUACIÓN</th>
                            <th scope="col">TIPO DE EVALUACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <input type="text" class="form-control" aria-label="date" aria-describedby="date">
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3">
                                            Objetivo
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="shadow-none p-3 mb-3 bg-light rounded">
                                            <!-- <label class="form-label fw-semibold" for="subobjective">Subobjetivo</label> -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="subobjective-1">
                                                <label class="form-check-label" for="subobjective-1">Subobjetivo
                                                    1</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="subobjective-1">
                                                <label class="form-check-label" for="subobjective-1">Subobjetivo
                                                    1</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="subobjective-1">
                                                <label class="form-check-label" for="subobjective-1">Subobjetivo
                                                    1</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="subobjective-1">
                                                <label class="form-check-label" for="subobjective-1">Subobjetivo
                                                    1</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="subobjective-1">
                                                <label class="form-check-label" for="subobjective-1">Subobjetivo
                                                    1</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <textarea class="form-control" id="teaching_activity"></textarea>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="shadow-none p-3 mb-3 bg-light rounded">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                    id="didactic-resources-1">
                                                <label class="form-check-label" for="didactic-resources-1">PPT</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                    id="didactic-resources-1">
                                                <label class="form-check-label"
                                                    for="didactic-resources-1">Recortes</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                    id="didactic-resources-1">
                                                <label class="form-check-label" for="didactic-resources-1">Texto del
                                                    estudiante</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox"
                                                    id="didactic-resources-1">
                                                <label class="form-check-label"
                                                    for="didactic-resources-1">Utiles</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- <input type="text" class="form-control" aria-label="didactic_resources"
                                    aria-describedby="didactic_resources"> -->
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="shadow-none p-3 mb-3 bg-light rounded">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="indicator-1">
                                                <label class="form-check-label" for="indicator-1">Indicador 1</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="indicator-1">
                                                <label class="form-check-label" for="indicator-1">Indicador 1</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="indicator-1">
                                                <label class="form-check-label" for="indicator-1">Indicador 1</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="indicator-1">
                                                <label class="form-check-label" for="indicator-1">Indicador 1</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="indicator-1">
                                                <label class="form-check-label" for="indicator-1">Indicador 1</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="shadow-none p-3 mb-3 bg-light rounded">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="evaluation-type-1">
                                                <label class="form-check-label"
                                                    for="evaluation-type-1">Diagnostica</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="evaluation-type-1">
                                                <label class="form-check-label"
                                                    for="evaluation-type-1">Formativa</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="evaluation-type-1">
                                                <label class="form-check-label" for="evaluation-type-1">Sumativa</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- <input type="text" class="form-control" aria-label="evaluation_type"
                                    aria-describedby="evaluation_type"> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>