<div class="py-3">

    <figure>
        <blockquote class="blockquote">
            <h1>Cobertura Curricular</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            Rellena los campos para generar una planificación.
        </figcaption>
    </figure>

    <div class="row" [formGroup]="planningAddForm">
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="row">
                <div class="col">
                    <label class="fw-semibold mb-3">Niveles</label>
                    <select class="form-select" formControlName="level" [ngClass]="(level?.touched || level?.dirty) && level?.hasError('required') ? 'is-invalid' : '' || 
                ((level?.touched || level?.dirty) && !level?.invalid) ? 'is-valid' : ''"
                        (change)="loadCourses($event)">
                        <option value="">Seleccione el nivel</option>
                        <option *ngFor="let level of list_niveles" [value]="level.id">{{ level.name }}</option>
                    </select>

                    <div class="invalid-feedback">
                        {{ level?.hasError('required') ? 'El nivel es requerido' : '' }}
                    </div>
                </div>
                <div class="col">
                    <label class="fw-semibold mb-3">Cursos</label>
                    <select class="form-select" formControlName="course" [ngClass]="(course?.touched || course?.dirty) && course?.hasError('required') ? 'is-invalid' : '' || 
                ((course?.touched || course?.dirty) && !course?.invalid) ? 'is-valid' : ''"
                        (change)="loadSubjects($event)">
                        <option value="">Seleccione el curso</option>
                        <option *ngFor="let course of list_courses" [value]="course.id">{{ course.name }}</option>
                    </select>

                    <div class="invalid-feedback">
                        {{ course?.hasError('required') ? 'El curso es requerido' : '' }}
                    </div>
                </div>
                <div class="col">
                    <label class="fw-semibold mb-3">Asignaturas</label>
                    <select class="form-select" formControlName="subject" [ngClass]="(subject?.touched || subject?.dirty) && subject?.hasError('required') ? 'is-invalid' : '' || 
                ((subject?.touched || subject?.dirty) && !subject?.invalid) ? 'is-valid' : ''">
                        <option value="">Seleccione la asignatura</option>
                        <option *ngFor="let subject of list_subjects" [value]="subject.id">{{ subject.name }}</option>
                    </select>

                    <div class="invalid-feedback">
                        {{ subject?.hasError('required') ? 'La asignatura es requerido' : '' }}
                    </div>
                </div>
                <div class="col-12 my-3">
                    <label class="fw-semibold mb-3">Unidad</label>
                    <input type="text" class="form-control" formControlName="unit" [ngClass]="(unit?.touched || unit?.dirty) && unit?.hasError('required') ? 'is-invalid' : '' || 
                    ((unit?.touched || unit?.dirty) && !unit?.invalid) ? 'is-valid' : ''" placeholder="Unidad"
                        aria-label="Unidad" aria-describedby="button-unit">
                    <div class="invalid-feedback">
                        {{ unit?.hasError('required') ? 'La unidad es requerido' : '' }}
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="btn btn-primary" type="button" id="button-unit"
                        (click)="savePlanningUnit({name: planningAddForm.value.unit, subject: planningAddForm.value.subject})"
                        [disabled]="disabledButton([planningAddForm.value.unit, planningAddForm.value.subject])"><svg
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>Agregar</button>
                </div>
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="row">
                <div class="col">
                    <label class="fw-semibold mb-3">Asignaturas</label>
                    <select class="form-select" formControlName="subject" [ngClass]="(subject?.touched || subject?.dirty) && subject?.hasError('required') ? 'is-invalid' : '' || 
                ((subject?.touched || subject?.dirty) && !subject?.invalid) ? 'is-valid' : ''">
                        <option value="">Seleccione la asignatura</option>
                        <option *ngFor="let subject of list_all_subjects" [value]="subject.id">{{ subject.name }} - {{
                            subject.course }}
                        </option>
                    </select>

                    <div class="invalid-feedback">
                        {{ subject?.hasError('required') ? 'La asignatura es requerido' : '' }}
                    </div>
                </div>
                <div class="col-12 my-3">
                    <label class="fw-semibold mb-3">Eje</label>
                    <input type="text" class="form-control" formControlName="axi" [ngClass]="(axi?.touched || axi?.dirty) && axi?.hasError('required') ? 'is-invalid' : '' || 
                ((axi?.touched || axi?.dirty) && !axi?.invalid) ? 'is-valid' : ''" placeholder="Eje"
                        aria-label="Unidad" aria-describedby="button-axi">
                    <div class="invalid-feedback">
                        {{ axi?.hasError('required') ? 'El eje es requerido' : '' }}
                    </div>
                </div>
                <div class="col-12 my-3">
                    <button class="btn btn-primary" type="button" id="button-axi"
                        (click)="savePlanningSubjectAxi({name: planningAddForm.value.axi, subject: planningAddForm.value.subject})"
                        [disabled]="disabledButton([planningAddForm.value.axi, planningAddForm.value.subject])"><svg
                            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>Agregar</button>
                </div>
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="row">
                <div class="col-12 my-3">
                    <div class="row g-3">
                        <div class="col-2">
                            <label class="fw-semibold mb-3">N° OA</label>

                            <input type="number" class="form-control" formControlName="number_oa" [ngClass]="(number_oa?.touched || number_oa?.dirty) && number_oa?.hasError('required') ? 'is-invalid' : '' || 
                    ((number_oa?.touched || number_oa?.dirty) && !number_oa?.invalid) ? 'is-valid' : ''"
                                placeholder="1" min="1">
                            <div class="invalid-feedback">
                                {{ number_oa?.hasError('required') ? 'El OA es requerido' : '' }}
                            </div>

                        </div>
                        <div class="col-10">
                            <label class="fw-semibold mb-3">Objetivo</label>

                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="objective" [ngClass]="(objective?.touched || objective?.dirty) && objective?.hasError('required') ? 'is-invalid' : '' || 
                ((objective?.touched || objective?.dirty) && !objective?.invalid) ? 'is-valid' : ''"
                                    placeholder="Objetivo" aria-label="Objetivo" aria-describedby="button-objective">

                                <button class="btn btn-primary" type="button" id="button-objective"
                                    (click)="savePlanningObjective({oa: planningAddForm.value.number_oa, name: planningAddForm.value.objective})"
                                    [disabled]="disabledButton([planningAddForm.value.number_oa, planningAddForm.value.objective])"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-plus">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>Agregar</button>
                            </div>
                            <div class="invalid-feedback">
                                {{ objective?.hasError('required') ? 'El objetivo es requerido' : '' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="row">
                <div class="col-12 my-3">
                    <div class="row g-3">
                        <div class="col-2">
                            <label class="fw-semibold mb-3">N° OAA</label>

                            <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                                formControlName="number_oaa" [ngClass]="(number_oaa?.touched || number_oaa?.dirty) && number_oaa?.hasError('required') ? 'is-invalid' : '' || 
            ((number_oaa?.touched || number_oaa?.dirty) && !number_oaa?.invalid) ? 'is-valid' : ''" placeholder="A"
                                min="1">
                            <div class="invalid-feedback">
                                {{ number_oaa?.hasError('required') ? 'El OAA es requerido' : '' }}
                            </div>

                        </div>
                        <div class="col-10">
                            <label class="fw-semibold mb-3">Actitud</label>

                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="attitude" [ngClass]="(attitude?.touched || attitude?.dirty) && attitude?.hasError('required') ? 'is-invalid' : '' || 
                ((attitude?.touched || attitude?.dirty) && !attitude?.invalid) ? 'is-valid' : ''" placeholder="Actitud"
                                    aria-label="Actitud" aria-describedby="button-attitude">
                                <button class="btn btn-primary" type="button" id="button-objective"
                                    (click)="savePlanningAttitude({oa: planningAddForm.value.number_oaa, name: planningAddForm.value.attitude})"
                                    [disabled]="disabledButton([planningAddForm.value.number_oaa, planningAddForm.value.attitude])"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-plus">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>Agregar</button>
                            </div>
                            <div class="invalid-feedback">
                                {{ attitude?.hasError('required') ? 'La Actitud es requerido' : '' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shadow p-3 mb-5 bg-body rounded">
            <div class="row">
                <div class="col-12 my-3">
                    <div class="row g-3">
                        <div class="col-2">
                            <label class="fw-semibold mb-3">N° OAH</label>

                            <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                                formControlName="number_oah" [ngClass]="(number_oah?.touched || number_oah?.dirty) && number_oah?.hasError('required') ? 'is-invalid' : '' || 
            ((number_oah?.touched || number_oah?.dirty) && !number_oah?.invalid) ? 'is-valid' : ''" placeholder="A"
                                min="1">
                            <div class="invalid-feedback">
                                {{ number_oah?.hasError('required') ? 'El OAH es requerido' : '' }}
                            </div>

                        </div>
                        <div class="col-10">
                            <label class="fw-semibold mb-3">Habilidad</label>

                            <div class="input-group">
                                <input type="text" class="form-control" formControlName="skill" [ngClass]="(skill?.touched || skill?.dirty) && skill?.hasError('required') ? 'is-invalid' : '' || 
                ((skill?.touched || skill?.dirty) && !skill?.invalid) ? 'is-valid' : ''" placeholder="Habilidad"
                                    aria-label="Actitud" aria-describedby="button-skill">
                                <button class="btn btn-primary" type="button" id="button-objective"
                                    (click)="savePlanningSkill({oa: planningAddForm.value.number_oah, name: planningAddForm.value.skill})"
                                    [disabled]="disabledButton([planningAddForm.value.number_oah, planningAddForm.value.skill])"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-plus">
                                        <line x1="12" y1="5" x2="12" y2="19"></line>
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                    </svg>Agregar</button>
                            </div>
                            <div class="invalid-feedback">
                                {{ attitude?.hasError('required') ? 'La Actitud es requerido' : '' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEjeUnidad">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEjeUnidad" aria-expanded="false" aria-controls="collapseEjeUnidad">
                        Eje/Objetivo
                    </button>
                </h2>
                <div id="collapseEjeUnidad" class="accordion-collapse collapse" aria-labelledby="headingEjeUnidad"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="mb-3">

                            <input class="form-control" list="datalistAxis" formControlName="select_axi" [ngClass]="(select_axi?.touched || select_axi?.dirty) && select_axi?.hasError('required') ? 'is-invalid' : '' || 
                            ((select_axi?.touched || select_axi?.dirty) && !select_axi?.invalid) ? 'is-valid' : ''"
                                placeholder="Buscar la Eje">
                            <datalist id="datalistAxis">
                                <option *ngFor="let select_axi of select_axis" [value]="select_axi.name"
                                    [id]="select_axi.id">
                            </datalist>

                            <div class="invalid-feedback">
                                {{ select_axi?.hasError('required') ? 'El eje es requerida' : '' }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row container-scroll" [ngClass]="{'scroll': list_objectives.length > 10}">
                                <div class="col-2">
                                    <div class="form-check" *ngFor="let objective of list_objectives">
                                        <input class="form-check-input" type="checkbox" formControlName="objective_axi"
                                            [id]="objective.id" (click)="checkBox($event)">
                                        <label class="form-check-label" [for]="objective.id"
                                            (mouseover)="previewObjective(objective.name)">{{ objective.oa }}
                                        </label>

                                    </div>
                                </div>
                                <div class="col w-100">
                                    <div class="shadow-none p-3 bg-light rounded">{{ text_objective }}</div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary"
                            (click)="savePlanningAxiObjective({id: checkboxs, axi: planningAddForm.value.select_axi})"
                            [disabled]="disabledButton([planningAddForm.value.select_axi, planningAddForm.value.objective_axi])"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> Agregar</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingObjetivoEje">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseObjetivoEje" aria-expanded="false" aria-controls="collapseObjetivoEje">
                        Unidad/Objetivo
                    </button>
                </h2>
                <div id="collapseObjetivoEje" class="accordion-collapse collapse" aria-labelledby="headingObjetivoEje"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="mb-3">
                            <input class="form-control" list="datalistUnits" formControlName="select_unit"
                                [ngClass]="(select_unit?.touched || select_unit?.dirty) && select_unit?.hasError('required') ? 'is-invalid' : '' || 
                                                    ((select_unit?.touched || select_unit?.dirty) && !select_unit?.invalid) ? 'is-valid' : ''" placeholder="Buscar la Unidad">
                            <datalist id="datalistUnits">
                                <option *ngFor="let unit of select_units" [value]="unit.name" [id]="unit.id">
                            </datalist>

                            <div class="invalid-feedback">
                                {{ select_unit?.hasError('required') ? 'La unidad es requerida' : '' }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row container-scroll" [ngClass]="{'scroll': list_objectives.length > 10}">
                                <div class="col-2">
                                    <div class="form-check" *ngFor="let objective of list_objectives">
                                        <input class="form-check-input" type="checkbox" formControlName="objective_unit"
                                            [id]="objective.id" (click)="checkBox($event)">
                                        <label class="form-check-label" [for]="objective.id"
                                            (mouseover)="previewObjective(objective.name)">{{ objective.oa }}
                                        </label>

                                    </div>
                                </div>
                                <div class="col w-100">
                                    <div class="shadow-none p-3 bg-light rounded">{{ text_objective }}</div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"
                            (click)="savePlanningUnitObjective({id: checkboxs, unit: planningAddForm.value.select_unit})"
                            [disabled]="disabledButton([planningAddForm.value.select_unit, planningAddForm.value.objective_unit])"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> Agregar</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSubObjetivo">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSubObjetivo" aria-expanded="false" aria-controls="collapseSubObjetivo">
                        Sub-Objetivo
                    </button>
                </h2>
                <div id="collapseSubObjetivo" class="accordion-collapse collapse" aria-labelledby="headingSubObjetivo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="mb-3">
                            <div class="row container-scroll" [ngClass]="{'scroll': list_objectives.length > 10}">
                                <div class="col-2">
                                    <div class="form-check" *ngFor="let objective of list_objectives">
                                        <input class="form-check-input" type="checkbox" formControlName="objective_unit"
                                            [id]="objective.id" (click)="checkBox($event)">
                                        <label class="form-check-label" [for]="objective.id"
                                            (mouseover)="previewObjective(objective.name)">{{ objective.oa }}
                                        </label>

                                    </div>
                                </div>
                                <div class="col w-100">
                                    <div class="shadow-none p-3 bg-light rounded">{{ text_objective }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" formControlName="subObjective" [ngClass]="(subObjective?.touched || subObjective?.dirty) && subObjective?.hasError('required') ? 'is-invalid' : '' || 
                ((subObjective?.touched || subObjective?.dirty) && !subObjective?.invalid) ? 'is-valid' : ''"
                                placeholder="Sub-Objetivos" aria-label="Sub-Objetivos"></textarea>

                            <div class="invalid-feedback">
                                {{ subObjective?.hasError('required') ? 'El sub-objetivo es requerido' : '' }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"
                            (click)="savePlanningSubObjective({id: checkboxs, subObjective: planningAddForm.value.subObjective})"
                            [disabled]="disabledButton([checkboxs, planningAddForm.value.subObjective])"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> Agregar</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingHabilidad">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseHabilidad" aria-expanded="false" aria-controls="collapseHabilidad">
                        Habilidad
                    </button>
                </h2>
                <div id="collapseHabilidad" class="accordion-collapse collapse" aria-labelledby="headingHabilidad"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="mb-3">
                            <input class="form-control" list="datalistUnits" formControlName="select_unit"
                                [ngClass]="(select_unit?.touched || select_unit?.dirty) && select_unit?.hasError('required') ? 'is-invalid' : '' || 
                                                    ((select_unit?.touched || select_unit?.dirty) && !select_unit?.invalid) ? 'is-valid' : ''" placeholder="Buscar la Unidad">
                            <datalist id="datalistUnits">
                                <option *ngFor="let unit of select_units" [value]="unit.name" [id]="unit.id">
                            </datalist>

                            <div class="invalid-feedback">
                                {{ select_unit?.hasError('required') ? 'La unidad es requerida' : '' }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row container-scroll" [ngClass]="{'scroll': list_skills.length > 10}">
                                <div class="col-2">
                                    <div class="form-check" *ngFor="let skill of list_skills">
                                        <input class="form-check-input" type="checkbox" formControlName="skill_unit"
                                            [id]="skill.id" (click)="checkBox($event)">
                                        <label class="form-check-label" [for]="skill.id"
                                            (mouseover)="previewSkill(skill.name)">{{ skill.oa }}
                                        </label>

                                    </div>
                                </div>
                                <div class="col w-100">
                                    <div class="shadow-none p-3 bg-light rounded">{{ text_skill }}</div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"
                            (click)="savePlanningUnitSkill({id: checkboxs, unit: planningAddForm.value.select_unit})"
                            [disabled]="disabledButton([planningAddForm.value.select_unit, planningAddForm.value.skill_unit])"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> Agregar</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingActitud">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseActitud" aria-expanded="false" aria-controls="collapseActitud">
                        Actitud
                    </button>
                </h2>
                <div id="collapseActitud" class="accordion-collapse collapse" aria-labelledby="headingActitud"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="mb-3">
                            <input class="form-control" list="datalistUnits" formControlName="select_unit"
                                [ngClass]="(select_unit?.touched || select_unit?.dirty) && select_unit?.hasError('required') ? 'is-invalid' : '' || 
                                                    ((select_unit?.touched || select_unit?.dirty) && !select_unit?.invalid) ? 'is-valid' : ''" placeholder="Buscar la Unidad">
                            <datalist id="datalistUnits">
                                <option *ngFor="let unit of select_units" [value]="unit.name" [id]="unit.id">
                            </datalist>

                            <div class="invalid-feedback">
                                {{ select_unit?.hasError('required') ? 'La unidad es requerida' : '' }}
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="row container-scroll" [ngClass]="{'scroll': list_skills.length > 10}">
                                <div class="col-2">
                                    <div class="form-check" *ngFor="let attitude of list_attitudes">
                                        <input class="form-check-input" type="checkbox" formControlName="attitude_unit"
                                            [id]="attitude.id" (click)="checkBox($event)">
                                        <label class="form-check-label" [for]="attitude.id"
                                            (mouseover)="previewAttitude(attitude.name)">{{ attitude.oa }}
                                        </label>

                                    </div>
                                </div>
                                <div class="col w-100">
                                    <div class="shadow-none p-3 bg-light rounded">{{ text_attitude }}</div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"
                            (click)="savePlanningUnitAttitude({id: checkboxs, unit: planningAddForm.value.select_unit})"
                            [disabled]="disabledButton([planningAddForm.value.select_unit, planningAddForm.value.attitude_unit])"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> Agregar</button>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingIndicador">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseIndicador" aria-expanded="false" aria-controls="collapseIndicador">
                        Indicador
                    </button>
                </h2>
                <div id="collapseIndicador" class="accordion-collapse collapse" aria-labelledby="headingIndicador"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="mb-3">
                            <input class="form-control" list="datalistUnitsIndicators" formControlName="select_unit"
                                [ngClass]="(select_unit?.touched || select_unit?.dirty) && select_unit?.hasError('required') ? 'is-invalid' : '' || 
                                                    ((select_unit?.touched || select_unit?.dirty) && !select_unit?.invalid) ? 'is-valid' : ''"
                                placeholder="Buscar la Unidad" (input)="onInputUnitsIndicators($event)">
                            <datalist id="datalistUnitsIndicators">
                                <option *ngFor="let unit of select_units" [value]="unit.name" [id]="unit.id">
                            </datalist>

                            <div class="invalid-feedback">
                                {{ select_unit?.hasError('required') ? 'La unidad es requerida' : '' }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row container-scroll" [ngClass]="{'scroll': list_skills.length > 10}">
                                <div class="col-2">
                                    <div class="form-check" *ngFor="let objective of checkbox_objectives_indicators">
                                        <input class="form-check-input" type="checkbox"
                                            formControlName="objective_indicator" [id]="objective.id"
                                            (click)="checkBox($event)">
                                        <label class="form-check-label" [for]="objective.id"
                                            (mouseover)="previewIndicators(objective.name)">{{ objective.oa }}
                                        </label>

                                    </div>
                                </div>
                                <div class="col w-100">
                                    <div class="shadow-none p-3 bg-light rounded">{{ text_indicator }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <textarea class="form-control" formControlName="indicator" [ngClass]="(indicator?.touched || indicator?.dirty) && indicator?.hasError('required') ? 'is-invalid' : '' || 
                            ((indicator?.touched || indicator?.dirty) && !indicator?.invalid) ? 'is-valid' : ''"
                                placeholder="Indicador" aria-label="Indicador"></textarea>

                            <div class="invalid-feedback">
                                {{ indicator?.hasError('required') ? 'El Indicador es requerido' : '' }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary"
                            (click)="savePlanningObjectiveIndicator({id: checkboxs, unit: planningAddForm.value.select_unit, indicator: planningAddForm.value.indicator})"
                            [disabled]="disabledButton([planningAddForm.value.objective_indicator, planningAddForm.value.select_unit, planningAddForm.value.indicator])"><svg
                                xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-plus">
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg> Agregar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-check form-switch d-grid gap-2 d-md-flex justify-content-md-end mt-5">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                (click)="show_columns($event)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Ver Más</label>
        </div>

        <ag-grid-angular [defaultColDef]="defaultColDef" (gridReady)="onGridReady($event)" class="ag-theme-alpine mt-2"
            style="width: 100%; height: 800px" [rowData]="rowData" [columnDefs]="colDefs" [animateRows]="true"
            [gridOptions]="gridOptions">
        </ag-grid-angular>

        <ng-container *ngFor="let row of rowData">
            <!-- Modal -->
            <div class="modal fade" id="{{ 'edit_modal_' + row.id_objetivo }}" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar
                            </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>

                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                (click)="updatePlanning(row)">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>