<div [formGroup]="planningAddSkill">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <div class="col-12 my-3">
                <div class="row g-3">
                    <div class="col-2">
                        <label class="fw-semibold mb-3">N° OAH</label>

                        <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                            formControlName="number_oah" [ngClass]="(number_oah?.touched || number_oah?.dirty) && number_oah?.hasError('required') ? 'is-invalid' : '' || 
    ((number_oah?.touched || number_oah?.dirty) && !number_oah?.invalid) ? 'is-valid' : ''" placeholder="A" min="1">
                        <div class="invalid-feedback">
                            {{ number_oah?.hasError('required') ? 'El OAH es requerido' : '' }}
                        </div>

                    </div>
                    <div class="col-10">
                        <label class="fw-semibold mb-3">Habilidad</label>

                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="skill" [ngClass]="(skill?.touched || skill?.dirty) && skill?.hasError('required') ? 'is-invalid' : '' || 
        ((skill?.touched || skill?.dirty) && !skill?.invalid) ? 'is-valid' : ''" placeholder="Habilidad"
                                aria-label="Actitud" aria-describedby="button-skill">
                            <button class="btn btn-primary" type="button" id="button-objective"
                                (click)="savePlanningSkill({oa: planningAddSkill.value.number_oah, name: planningAddSkill.value.skill})"
                                [disabled]="this.resourcesService.disabledButton([planningAddSkill.value.number_oah, planningAddSkill.value.skill])"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-plus">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>Agregar</button>
                            <div class="invalid-feedback">
                                {{ skill?.hasError('required') ? 'La Habilidad es requerido' : '' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">N° OAH</th>
                            <th scope="col">Objetivo</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="pagedItems.length === 0">¡No hay datos para la busqueda!</tr>
                        <tr *ngFor="let skill of pagedItems">
                            <td>OAH{{ skill.oa}}</td>
                            <td>{{ skill.name}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#edit_modal_skill" (click)="editSkill(skill)">
                                    <i class="bi bi-pencil-square"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Modal -->
                <div class="modal fade" id="edit_modal_skill" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Habilidad</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="planningUpdateSkill">
                                    <input type="text" class="form-control" formControlName="id" hidden>

                                    <div class="col mb-3">
                                        <label class="fw-semibold mb-3">N° OAH</label>
                                        <input type="text" class="form-control" formControlName="update_number_oah"
                                            [ngClass]="(update_number_oah?.touched || update_number_oah?.dirty) && update_number_oah?.hasError('required') ? 'is-invalid' : '' || 
                                        ((update_number_oah?.touched || update_number_oah?.dirty) && !update_number_oah?.invalid) ? 'is-valid' : ''"
                                            placeholder="A">
                                        <div class="invalid-feedback">
                                            {{ update_number_oah?.hasError('required') ? 'El OAA es requerido': '' }}
                                        </div>
                                    </div>
                                    <div class="col mb-3">
                                        <label class="fw-semibold mb-3">Objetivo</label>
                                        <input type="text" class="form-control" formControlName="update_skill"
                                            [ngClass]="(update_skill?.touched || update_skill?.dirty) && update_skill?.hasError('required') ? 'is-invalid' : '' || 
                                        ((update_skill?.touched || update_skill?.dirty) && !update_skill?.invalid) ? 'is-valid' : ''"
                                            placeholder="Objetivo">
                                        <div class="invalid-feedback">
                                            {{ update_skill?.hasError('required') ? 'El objetivo es requerido': '' }}
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"
                                    (click)="updatePlanningSkill({id: planningUpdateSkill.value.id, oa: planningUpdateSkill.value.update_number_oah, name: planningUpdateSkill.value.update_skill})"
                                    [disabled]="this.resourcesService.disabledButton([planningUpdateSkill.value.update_number_oah, planningUpdateSkill.value.update_skill])"
                                    data-bs-dismiss="modal" [disabled]="!planningUpdateSkill.valid">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
                    (pageChange)="pageChanged($event)"></app-pagination>
            </div>
        </div>
    </div>
</div>