<div [formGroup]="planningAddObjective">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="row">
            <div class="col-12 my-3">
                <div class="row g-3">
                    <div class="col-2">
                        <label class="fw-semibold mb-3">N° OA</label>

                        <input type="number" class="form-control" formControlName="number_oa" [ngClass]="(number_oa?.touched || number_oa?.dirty) && number_oa?.hasError('required') ? 'is-invalid' : '' || 
            ((number_oa?.touched || number_oa?.dirty) && !number_oa?.invalid) ? 'is-valid' : ''" placeholder="1"
                            min="1">
                        <div class="invalid-feedback">
                            {{ number_oa?.hasError('required') ? 'El OA es requerido' : '' }}
                        </div>

                    </div>
                    <div class="col-10">
                        <label class="fw-semibold mb-3">Objetivo</label>

                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="objective" [ngClass]="(objective?.touched || objective?.dirty) && objective?.hasError('required') ? 'is-invalid' : '' || 
                            ((objective?.touched || objective?.dirty) && !objective?.invalid) ? 'is-valid' : ''"
                                placeholder="Objetivo" aria-label="Objetivo" aria-describedby="button-objective">

                            <button class="btn btn-primary" type="button" id="button-objective"
                                (click)="savePlanningObjective({oa: planningAddObjective.value.number_oa, name: planningAddObjective.value.objective})"
                                [disabled]="disabledButton([planningAddObjective.value.number_oa, planningAddObjective.value.objective])"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-plus">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>Agregar</button>
                            
                            <div class="invalid-feedback">
                                {{ objective?.hasError('required') ? 'El objetivo es requerido' : '' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>