<div class="py-3">

    <figure>
        <blockquote class="blockquote">
            <h1>Cobertura Curricular</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            Rellena los campos para generar una cobertura curricular.
        </figcaption>
    </figure>

    <div [formGroup]="planningAddForm">

        <app-unit></app-unit>
        <app-axi></app-axi>
        <app-objective></app-objective>
        <app-subobjective></app-subobjective>
        <app-attitude></app-attitude>
        <app-skill></app-skill>
        <app-indicator></app-indicator>


        <div class="accordion p-0 mb-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEjeUnidad">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEjeUnidad" aria-expanded="false" aria-controls="collapseEjeUnidad">
                        Eje/Objetivo
                    </button>
                </h2>
                <div id="collapseEjeUnidad" class="accordion-collapse collapse" aria-labelledby="headingEjeUnidad"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-axi-objective></app-axi-objective>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingObjetivoEje">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseObjetivoEje" aria-expanded="false" aria-controls="collapseObjetivoEje">
                        Unidad/Objetivo
                    </button>
                </h2>
                <div id="collapseObjetivoEje" class="accordion-collapse collapse" aria-labelledby="headingObjetivoEje"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-unit-objective></app-unit-objective>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSubObjetivo">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSubObjetivo" aria-expanded="false" aria-controls="collapseSubObjetivo">
                        Sub-Objetivo/Objetivo
                    </button>
                </h2>
                <div id="collapseSubObjetivo" class="accordion-collapse collapse" aria-labelledby="headingSubObjetivo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-subobjective-objective></app-subobjective-objective>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingHabilidad">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseHabilidad" aria-expanded="false" aria-controls="collapseHabilidad">
                        Unidad/Habilidad
                    </button>
                </h2>
                <div id="collapseHabilidad" class="accordion-collapse collapse" aria-labelledby="headingHabilidad"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-unit-skill></app-unit-skill>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingActitud">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseActitud" aria-expanded="false" aria-controls="collapseActitud">
                        Unidad/Actitud
                    </button>
                </h2>
                <div id="collapseActitud" class="accordion-collapse collapse" aria-labelledby="headingActitud"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-unit-attitude></app-unit-attitude>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingIndicador">
                    <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseIndicador" aria-expanded="false" aria-controls="collapseIndicador">
                        Indicador/Objetivo
                    </button>
                </h2>
                <div id="collapseIndicador" class="accordion-collapse collapse" aria-labelledby="headingIndicador"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <app-objective-indicator></app-objective-indicator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col ">
                <!-- <label class="fw-semibold mb-3">Cursos</label> -->
                <select class="form-select" formControlName="select_filter_course"
                    (change)="loadFilterSubjects($event)">
                    <option value="">Seleccione el curso</option>
                    <option *ngFor="let course of list_filter_courses" [value]="course.id">{{ course.name }}</option>
                </select>
            </div>
            <div class="col">
                <!-- <label class="fw-semibold mb-3">Asignaturas</label> -->
                <select class="form-select" formControlName="select_filter_subject" (change)="loadFilterUnits($event)">
                    <option value="">Seleccione la asignatura</option>
                    <option *ngFor="let subject of list_filter_subjects" [value]="subject.id">{{ subject.name }}
                    </option>
                </select>
            </div>
            <div class="col">
                <!-- <label class="fw-semibold mb-3">Unidad</label> -->
                <select class="form-select" formControlName="select_filter_unit">
                    <option value="">Seleccione la unidad</option>
                    <option *ngFor="let unit of list_filter_units" [value]="unit.id">{{ unit.name }}</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-primary me-2" type="button"
                    (click)="searchPlannings(planningAddForm.value.select_filter_unit)"><i class="bi bi-search"></i>
                    Buscar</button>
                <button class="btn btn-danger" type="button" (click)="clearFilter()">Limpiar</button>
            </div>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Eje</th>
                    <th scope="col">Objetivo</th>
                    <th scope="col">Indicador</th>
                    <th scope="col">Habilidad</th>
                    <th scope="col">Actitud</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="pagedItems.length === 0">¡No hay datos para la busqueda!</tr>
                <tr *ngFor="let planning of pagedItems">
                    <td>{{ planning.eje }}</td>
                    <td>
                        <div *ngFor="let objetivo of planning.objetivo">
                            <b>OA{{ objetivo.oa }}</b>
                            <p>{{ objetivo.name }}</p>
                            <ul>
                                <li *ngFor="let subobjective of objetivo.subobjective">{{ subobjective }}</li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let indicador of planning.indicador">
                            <p>{{ indicador }}</p>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let habilidad of planning.habilidad">
                            <b>OAH{{ habilidad.oa }}</b>
                            <p>{{ habilidad.name }}</p>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let actitud of planning.actitud">
                            <b>OAA{{ actitud.oa }}</b>
                            <p>{{ actitud.name }}</p>
                        </div>
                    </td>
                    <!-- <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle='modal'
                            data-bs-target="#edit_modal" (click)="selectItem(planning.id)"><i
                                class="bi bi-pencil-square"></i></button>
                    </td> -->
                </tr>
            </tbody>
        </table>

        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
            (pageChange)="pageChanged($event)"></app-pagination>
    </div>
</div>